

//variable margin
// $mg-0: 2px;
// $mg-1: 10px;
// $mg-2: 25px;

$default-spacing: 10px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;

//variable line-height
$line-height-0: 1.43; //default

//variable font-weight
$fw-sbold: 700;
$fw-bold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "medium": 768px,
  "small": 576px,
  "tiny": 420px,
  "super-tiny": 320px,
);
